  <div class="pageWrap" style="margin-top: 50px; text-align:center">
    <div class="jumbotron center">
      <h1>BETA BLOG</h1>
      <%= link_to "Beta-blog", articles_path %> | <%= link_to "About Page", about_path %>
    </div>
  </div>