  <div class="pageWrap" style="margin-top: 50px; text-align:center">
    <div class="jumbotron center">
      <h1>BETA BLOG</h1>
      <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
  </div>